
<link rel="stylesheet" href="styles/score.css">

<h3>Ability Scores</h3>
<div class="scores">
    <div class="col-sm-4 left">
        <table>
            <tr>
                <th>Score</th>
                <th>Ability</th>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.strTotal"></td>
                <td class="abilityType">STR</td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.conTotal"></td>
                <td class="abilityType">CON</td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.dexTotal"></td>
                <td class="abilityType">DEX</td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.intTotal"></td>
                <td class="abilityType">INT</td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.wisTotal"></td>
                <td class="abilityType">WIS</td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.chaTotal"></td>
                <td class="abilityType">CHA</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-3">
        <table>
            <tr>
                <th>Abil Mod</th>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.strMod"></td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.conMod"></td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.dexMod"></td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.intMod"></td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.wisMod"></td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.chaMod"></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-3">
        <table>
            <tr>
                <th>Mod+1/2lvl</th>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.strMod + ddch.calculatedValues.halfLevel"></td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.conMod + ddch.calculatedValues.halfLevel"></td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.dexMod + ddch.calculatedValues.halfLevel"></td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.intMod + ddch.calculatedValues.halfLevel"></td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.wisMod + ddch.calculatedValues.halfLevel">
                </td>
            </tr>
            <tr>
                <td class="table_box" ng-bind="ddch.calculatedValues.abilityScores.chaMod + ddch.calculatedValues.halfLevel"></td>
            </tr>
        </table>
    </div>
</div>
