<div>
    <div class="col-sm-2 left">
        STR
        <br>
        CON
        <br>
        DEX
        <br>
        INT
        <br>
        WIS
        <br>
        CHA
    </div>
    <div class="col-sm-1">
        10
        <br>
        14
        <br>
        11
        <br>
        20
        <br>
        10
        <br>
        8
    </div>
    <div class="col-sm-1">
        0
        <br>
        2
        <br>
        0
        <br>
        5
        <br>
        0
        <br>
        -1
    </div>
    <div class="col-sm-1">
        0
        <br>
        2
        <br>
        0
        <br>
        5
        <br>
        0
        <br>
        -1
    </div>
</div>
