<div class="row">
    <div class="col-sm-2">
        Character Name:<br>
        <input size="20">
    </div>
    <div class="col-sm-1">
        Level:<br>
        <input size="3">
    </div>
    <div class="col-sm-2">
        Class:<br>
        <input size="20">
    </div>
    <div class="col-sm-2">
        Paragon Path:<br>
        <input size="20">
    </div>
    <div class="col-sm-2">
        Epic Destiny:<br>
        <input size="20">
    </div>
    <div class="col-sm-2">
        Total XP:<br>
        <input size="20">
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-1">
        Race:<br>
        <input size="10">
    </div>
    <div class="col-sm-1">
        Size:<br>
        <input size="10">
    </div>
    <div class="col-sm-1">
        Age:<br>
        <input size="3">
    </div>
    <div class="col-sm-1">
        Gender:<br>
        <input size="10">
    </div>
    <div class="col-sm-1">
        Height:<br>
        <input size="5">
    </div>
    <div class="col-sm-1">
        Weight:<br>
        <input size="5">
    </div>
    <div class="col-sm-2">
        Alignment:<br>
        <input size="20">
    </div>
    <div class="col-sm-2">
        Deity:<br>
        <input size="20">
    </div>
    <div class="col-sm-2">
        RPGA #:<br>
        <input size="10">
    </div>
</div>