<link rel="stylesheet" href="styles/basicInfo.css">

<div class="basicInfo">
    <div class="row">
        <div class="col-sm-4">
            <input type="text" ng-model="ddch.level0.name"><br>
            <label>Character Name</label>
        </div>
        <div class="col-sm-1">
            <input ng-model="ddch.characterLevel"><br>
            <label>Level</label>
        </div>
        <div class="col-sm-3">
            <input type="text" ng-model="ddch.level1.ddclass"><br>
            <label>Class</label>
        </div>
        <div class="col-sm-1">
            <input type="text" ng-model="ddch.level0.age"><br>
            <label>Age</label>
        </div>
        <div class="col-sm-2">
            <input type="text" ng-model="ddch.level0.gender"><br>
            <label>Gender</label>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-3">
            <input type="text" ng-model="ddch.level0.ddrace"><br>
            <label>Race</label>
        </div>
        <div class="col-sm-1">
            <input type="text" ng-model="ddch.calculatedValues.size"><br>
            <label>Size</label>
        </div>
        <div class="col-sm-1">
            <input type="text" ng-model="ddch.level0.height"><br>
            <label>Height</label>
        </div>
        <div class="col-sm-1">
            <input type="text" ng-model="ddch.level0.weight"><br>
            <label>Weight</label>
        </div>
        <div class="col-sm-2">
            <input type="text" ng-model="ddch.level0.alignment"><br>
            <label>Alignment</label>
        </div>
        <div class="col-sm-3">
            <input type="text" ng-model="ddch.level0.deity"><br>
            <label>Deity</label>
        </div>
    </div>
</div>


