<div class="row" ng-init="init()">
    <div class="col-sm-2">
        <input type="text" ng-model="ddch.level0.name"><br>
        <label>Character Name</label>
    </div>
    <div class="col-sm-1">
        <input ng-model="ddch.level0.level"><br>
        <label>Level</label>
    </div>
    <div class="col-sm-2">
        <input type="text" ng-model="ddch.level0.class"><br>
        <label>Class</label>
    </div>
    <div class="col-sm-2">
        <input type="text" ng-model="ddch.level0.paragonPath"><br>
        <label>Paragon Path</label>
    </div>
    <div class="col-sm-2">
        <input type="text" ng-model="ddch.level0.epicDestiny"><br>
        <label>Epic Destiny</label>
    </div>
    <div class="col-sm-2">
        <input ng-model="ddch.level0.totalXP"><br>
        <label>Total XP</label>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-1">
        <input type="text" ng-model="ddch.level0.race"><br>
        <label>Race</label>
    </div>
    <div class="col-sm-1">
        <input type="text" ng-model="ddch.level0.size"><br>
        <label>Size</label>
    </div>
    <div class="col-sm-1">
        <input type="text" ng-model="ddch.level0.age"><br>
        <label>Age</label>
    </div>
    <div class="col-sm-1">
        <input type="text" ng-model="ddch.level0.gender"><br>
        <label>Gender</label>
    </div>
    <div class="col-sm-1">
        <input type="text" ng-model="ddch.level0.height"><br>
        <label>Height</label>
    </div>
    <div class="col-sm-1">
        <input type="text" ng-model="ddch.level0.weight"><br>
        <label>Weight</label>
    </div>
    <div class="col-sm-2">
        <input type="text" ng-model="ddch.level0.alignment"><br>
        <label>Alignment</label>
    </div>
    <div class="col-sm-2">
        <input type="text" ng-model="ddch.level0.deity"><br>
        <label>Deity</label>
    </div>
    <div class="col-sm-1">
        <input type="text" ng-model="ddch.level0.rpgaNumber"><br>
        <label>RPGA #</label>
    </div>
</div>
