<link rel="stylesheet" href="styles/characterDetails.css">

<div class="characterDetails">
  <table>
    <tr>
      <th>Personality Traits</th>
    </tr>
    <tr>
      <td><textarea rows="4"></textarea></td>
    </tr>
    <tr>
      <th>Mannerisms & Appearance</th>
    </tr>
    <tr>
      <td><textarea rows="4"></textarea></td>
    </tr>
    <tr>
      <th>Character Background</th>
    </tr>
    <tr>
      <td><textarea rows="12"></textarea></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Companions/Allies</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td><textarea rows="1" id="allies"></textarea></td>
      <td><textarea rows="1" id="allyNotes"></textarea></td>
    </tr>
    <tr>
      <td><textarea rows="1" id="allies"></textarea></td>
      <td><textarea rows="1" id="allyNotes"></textarea></td>
    </tr>
    <tr>
      <td><textarea rows="1" id="allies"></textarea></td>
      <td><textarea rows="1" id="allyNotes"></textarea></td>
    </tr>
    <tr>
      <td><textarea rows="1" id="allies"></textarea></td>
      <td><textarea rows="1" id="allyNotes"></textarea></td>
    </tr>
    <tr>
      <td><textarea rows="1" id="allies"></textarea></td>
      <td><textarea rows="1" id="allyNotes"></textarea></td>
    </tr>
    <tr>
      <td><textarea rows="1" id="allies"></textarea></td>
      <td><textarea rows="1" id="allyNotes"></textarea></td>
    </tr>
    <tr>
      <td><textarea rows="1" id="allies"></textarea></td>
      <td><textarea rows="1" id="allyNotes"></textarea></td>
    </tr>
    <tr>
      <td><textarea rows="1" id="allies"></textarea></td>
      <td><textarea rows="1" id="allyNotes"></textarea></td>
    </tr>
</div>
