<link rel="stylesheet" href="styles/defenses.css">

<h3>Defenses</h3>
<div class="defenses">
    <table>
        <tr>
            <th>Score</th>
            <th>Defense</th>
            <th>10+ <br>1/2LVL</th>
            <th>Armor/<br>Abil</th>
            <th>Class</th>
            <th>Feat</th>
            <th>ENH</th>
            <th>MISC</th>
        </tr>
        <tr>
            <td class="score" id="rating">{{
                (ddch.calculatedValues.halfLevel + 10) + 
                ddch.calculatedValues.defenses.ac.armor + 
                ddch.calculatedValues.defenses.ac.abilityMod + 
                ddch.calculatedValues.defenses.ac.class + 
                ddch.calculatedValues.defenses.ac.feat + 
                ddch.calculatedValues.defenses.ac.enhancement + 
                ddch.calculatedValues.defenses.ac.misc
            }}</td>
            <td class="def">AC</td>
            <td>{{10 + ddch.calculatedValues.halfLevel}}</td>
            <td>{{
                ddch.calculatedValues.defenses.ac.armor + 
                ddch.calculatedValues.defenses.ac.abilityMod
            }}</td>
            <td ng-bind="ddch.calculatedValues.defenses.ac.class"></td>
            <td ng-bind="ddch.calculatedValues.defenses.ac.feat"></td>
            <td ng-bind="ddch.calculatedValues.defenses.ac.enhancement"></td>
            <td ng-bind="ddch.calculatedValues.defenses.ac.misc"></td>
        </tr>
        <tr>
            <td class="conditionalBonuses" colspan="8">Conditional Bonuses:</td>
        </tr>
        <tr>
            <td class="score" id="rating">{{
                (ddch.calculatedValues.halfLevel + 10) + 
                ddch.calculatedValues.defenses.fortitude.abilityMod + 
                ddch.calculatedValues.defenses.fortitude.class + 
                ddch.calculatedValues.defenses.fortitude.feat + 
                ddch.calculatedValues.defenses.fortitude.enhancement + 
                ddch.calculatedValues.defenses.fortitude.misc
            }}</td>
            <td class="def">FORT</td>
            <td>{{10 + ddch.calculatedValues.halfLevel}}</td>
            <td ng-bind="ddch.calculatedValues.defenses.fortitude.abilityMod"></td>
            <td ng-bind="ddch.calculatedValues.defenses.fortitude.class"></td>
            <td ng-bind="ddch.calculatedValues.defenses.fortitude.feat"></td>
            <td ng-bind="ddch.calculatedValues.defenses.fortitude.enhancement"></td>
            <td ng-bind="ddch.calculatedValues.defenses.fortitude.misc"></td>  
        </tr>
        <tr>
            <td class="conditionalBonuses" colspan="8">Conditional Bonuses:</td>
        </tr>
        <tr>
            <td class="score" id="rating">{{
                (ddch.calculatedValues.halfLevel + 10) + 
                ddch.calculatedValues.defenses.reflex.abilityMod + 
                ddch.calculatedValues.defenses.reflex.class + 
                ddch.calculatedValues.defenses.reflex.feat + 
                ddch.calculatedValues.defenses.reflex.enhancement + 
                ddch.calculatedValues.defenses.reflex.misc
            }}</td>
            <td class="def">REF</td>
            <td>{{10 + ddch.calculatedValues.halfLevel}}</td>
            <td ng-bind="ddch.calculatedValues.defenses.reflex.abilityMod"></td>
            <td ng-bind="ddch.calculatedValues.defenses.reflex.class"></td>
            <td ng-bind="ddch.calculatedValues.defenses.reflex.feat"></td>
            <td ng-bind="ddch.calculatedValues.defenses.reflex.enhancement"></td>
            <td ng-bind="ddch.calculatedValues.defenses.reflex.misc"></td>  
        </tr>
        <tr>
            <td class="conditionalBonuses" colspan="8">Conditional Bonuses:</td>
        </tr>
        <tr>
            <td class="score" id="rating">{{
                (ddch.calculatedValues.halfLevel + 10) + 
                ddch.calculatedValues.defenses.will.abilityMod + 
                ddch.calculatedValues.defenses.will.class + 
                ddch.calculatedValues.defenses.will.feat + 
                ddch.calculatedValues.defenses.will.enhancement + 
                ddch.calculatedValues.defenses.will.misc
            }}</td>
            <td class="def">WILL</td>
            <td>{{10 + ddch.calculatedValues.halfLevel}}</td>
            <td ng-bind="ddch.calculatedValues.defenses.will.abilityMod"></td>
            <td ng-bind="ddch.calculatedValues.defenses.will.class"></td>
            <td ng-bind="ddch.calculatedValues.defenses.will.feat"></td>
            <td ng-bind="ddch.calculatedValues.defenses.will.enhancement"></td>
            <td ng-bind="ddch.calculatedValues.defenses.will.misc"></td>  
        </tr>
        <tr>
            <td class="conditionalBonuses" colspan="8">Conditional Bonuses:</td>
        </tr>
    </table>
</div>
