<link rel="stylesheet" href="styles/defenses.css">


<div class="defenses" ng-init="initDefenses()">
    <table width="200">
        <tr>
            <th>Score</th>
            <th>Defense</th>
            <th>10+ <br>1/2LVL</th>
            <th>Armor/<br>Abil</th>
            <th>Class</th>
            <th>Feat</th>
            <th>ENH</th>
            <th>MISC</th>
        </tr>
        <tr ng-repeat="defense in ddch.level0.defenses">
            <td class="score"><input id="rating" ng-model="defense.score"></td>
            <td class="def" ng-bind="defense.def"></td>
            <td ng-bind="defense.lvl"></td>
            <td ng-bind="defense.armor"></td>
            <td ng-bind="defense.class"></td>
            <td ng-bind="defense.feat"></td>
            <td ng-bind="defense.enh"></td>
            <td ng-bind="defense.misc"></td>
        </tr>
    </table>
</div>