<div class="healthAndSavingThrows">
  <table>
    <tr>
      <th>Max HP</th>
      <th>Bloodied</th>
      <th>Surges/Day</th>
      <th>Surge Value</th>
    </tr>
    <tr>
      <td>
        <input type="text"/>
      </td>
      <td>
        <input type="text"/>
      </td>
      <td>
        <input type="text"/>
      </td>
      <td>
        <input type="text"/>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Saving Throws</th>
    </tr>
    <tr>
      <td>
        <textarea rows="6"></textarea>
      </td>
    </tr>
  </table>
</div>
   