<link rel="stylesheet" href="styles/healthAndSavingThrowsStyle.css">

<h3>Health and Saving Throws</h3>
<div class="healthAndSavingThrows" ng-init="initHealthAndSavingThrows()">
  <table>
    <tr>
      <th>Max HP</th>
      <th>Bloodied</th>
      <th>Surge Value</th>
      <th>Surges/Day</th>
    </tr>
    <tr>
      <td ng-bind="ddch.level0.healthAndSavingThrows.maxHP"></td>
      <td ng-bind="ddch.level0.healthAndSavingThrows.bloodiedHP"></td>
      <td ng-bind="ddch.level0.healthAndSavingThrows.surgeValue"></td>
      <td ng-bind="ddch.level0.healthAndSavingThrows.surgesPerDay"></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Saving Throws</th>
    </tr>
    <tr>
      <td id="savesAndResists" ng-bind="ddch.level0.healthAndSavingThrows.savingThrowMods"></td>
    </tr>
    <tr>
      <th>Resistances</th>
    </tr>
    <tr>
      <td id="savesAndResists" ng-bind="ddch.level0.healthAndSavingThrows.resistances"></td>
    </tr>
  </table>
</div>
