<link rel="stylesheet" href="styles/healthAndSavingThrowsStyle.css">

<h3>Health and Saving Throws</h3>
<div class="healthAndSavingThrows" ng-init="assembleResistances()">
  <table>
    <tr>
      <th>Max HP</th>
      <th>Bloodied</th>
      <th>Surge Value</th>
      <th>Surges/Day</th>
    </tr>
    <tr>
      <td ng-bind="ddch.calculatedValues.healthAndSavingThrows.maxHP"></td>
      <td ng-bind="ddch.calculatedValues.healthAndSavingThrows.bloodiedValue"></td>
      <td ng-bind="ddch.calculatedValues.healthAndSavingThrows.surgeValue"></td>
      <td ng-bind="ddch.calculatedValues.healthAndSavingThrows.surgesPerDay"></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Saving Throws</th>
    </tr>
    <tr ng-repeat="throw in ddch.calculatedValues.healthAndSavingThrows.savingThrowMods">
      <td id="savesAndResists" ng-bind="throw"></td>
    </tr>
    <tr>
      <th>Resistances</th>
    </tr>
    <tr>
      <td id="savesAndResists">{{assembleResistances()}}</td>
    </tr>
  </table>
</div>
