<link rel="stylesheet" href="styles/Initiative.css">

<h3>Initiative</h3>
<div class="initiative">
    <table>
        <tr>
            <th class="leftalign">Score</th>
            <th>DEX</th>
            <th>1/2<br>LVL</th>
            <th>Misc</th>
        </tr>
        <tr>
            <td class="innertitle">
                <input type="text" disabled="disabled" 
                       value="{{ddch.calculatedValues.initiative.dex + 
                                ddch.calculatedValues.halfLevel + 
                                ddch.calculatedValues.initiative.misc}}">
                <label>Initiative</label>
            </td>
            <td ng-bind="ddch.calculatedValues.initiative.dex"></td>
            <td ng-bind="ddch.calculatedValues.halfLevel"></td>
            <td ng-bind="ddch.calculatedValues.initiative.misc"></td>
        </tr>
    </table>
    <div class="conditional-bonuses">
        Conditional Bonuses:
    </div>
</div>
