<link rel="stylesheet" href="styles/initiative.css">

<h3>Initiative</h3>
<div class="initiative" ng-init="initInitiative()">
	<table>
		<tr>
			<th>Score</th>
			<th>DEX</th>
			<th>1/2<br>LVL</th>
			<th>MISC</th>
		</tr>
		<tr>
			<td>{{
				ddch.calculatedValues.initiative.dex + 
				ddch.halflevel + 
				ddch.calculatedValues.initiative.misc
			}}</td>
			<td ng-bind="ddch.calculatedValues.initiative.dex"></td>
			<td ng-bind="ddch.halflevel"></td>
			<td ng-bind="ddch.calculatedValues.initiative.misc"></td>
		</tr>
	</table>

	<textarea>Conditional Bonuses:</textarea>
</div>
