<link rel="stylesheet" href="styles/magicItems.css">


<h3>Magic Items</h3>
<div class="magicItems">
    <div class="line" ng-repeat="weapon in ddch.level0.magicItems.weapons">
        <span class="type">WEAPON</span>
        <span class="name">{{weapon}}</span>
        <input type="checkbox">
    </div>
    <div class="line">
        <span class="type">ARMOR</span>
        <span class="name">{{ddch.level0.magicItems.armor}}</span>
        <input type="checkbox">
    </div>
    <div class="line">
        <span class="type">ARMS</span>
        <span class="name">{{ddch.level0.magicItems.arms}}</span>
        <input type="checkbox">
    </div>
    <div class="line">
        <span class="type">FEET</span>
        <span class="name">{{ddch.level0.magicItems.feet}}</span>
        <input type="checkbox">
    </div>
    <div class="line">
        <span class="type">HANDS</span>
        <span class="name">{{ddch.level0.magicItems.hands}}</span>
        <input type="checkbox">
    </div>
    <div class="line">
        <span class="type">HEAD</span>
        <span class="name">{{ddch.level0.magicItems.head}}</span>
        <input type="checkbox">
    </div>
    <div class="line">
        <span class="type">NECK</span>
        <span class="name">{{ddch.level0.magicItems.neck}}</span>
        <input type="checkbox">
    </div>
    <div class="line" ng-repeat="ring in ddch.level0.magicItems.rings">
        <span class="type">RING</span>
        <span class="name">{{ring}}</span>
        <input type="checkbox">
    </div>
    <div class="line">
        <span class="type">WAIST</span>
        <span class="name">{{ddch.level0.magicItems.waist}}</span>
        <input type="checkbox">
    </div>
    <div class="line" ng-repeat="blankLine in [1,2,3,4,5,6,7,8,9,10,11,12]">
        <label></label>
        <input type="checkbox">
    </div>

</div>
