<link rel="stylesheet" href="styles/movement.css">

<h3>Movement</h3>
<div class="movement">
    <table>
        <tr>
            <th style="text-align:left;">Score</th>
            <th>Base</th>
            <th>Armor</th>
            <th>Item</th>
            <th>Misc</th>
        </tr>
        <tr>
            <td style="text-align: left; background-color: #2d2d2d; color: white;">
                <input type="text" disabled="disabled" 
                       ng-bind="ddch.calculatedValues.movement.base + 
                                ddch.calculatedValues.movement.armor + 
                                ddch.calculatedValues.movement.item +
                                ddch.calculatedValues.movement.misc">
                <label>Speed<span>(Squares)</span></label>
            </td>
            <td ng-bind="ddch.calculatedValues.movement.base"></td>
            <td ng-bind="ddch.calculatedValues.movement.armor"></td>
            <td ng-bind="ddch.calculatedValues.movement.item"></td>
            <td ng-bind="ddch.calculatedValues.movement.misc"></td>
        </tr>
    </table>
    <textarea disabled="disabled" style="background-color:white;">Special Bonuses:</textarea>
</div>
