<link rel="stylesheet" href="styles/powers.css">

<div class="powers">
  <table>
    <tr>
      <th>
        At-Will Powers
      </th>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
  </table>
  
  <table>
    <tr>
      <th>
        Encounter Powers
      </th>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
  </table>
  
  <table>
    <tr>
      <th>
        Daily Powers
      </th>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
  </table>
  
    <table>
    <tr>
      <th>
        Utility Powers
      </th>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
      <tr>
      <td>
        <input type="text">
      </td>
    </tr>
      <tr>
      <td>
        <input type="text">
      </td>
      <td>
        <input type="checkbox">
      </td>
    </tr>
      <tr>
      <td>
        <input type="text">
      </td>
    </tr>
      <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
  </table>
</div>
