<link rel="stylesheet" href="styles/powers.css">

<div class="powers" ng-init="initPowers()">
  <table>
    <tr>
      <th>
        At-Will Powers
      </th>
    </tr>
    <tr>
      <td ng-bind="ddch.level1.atWillPower1"></td>
    </tr>
    <tr>
      <td ng-bind="ddch.level1.atWillPower2"></td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
  </table>
  
  <table>
    <tr>
      <th>
        Encounter Powers
      </th>
    </tr>
    <tr>
      <td ng-bind="ddch.level1.encounterPower"></td>
    </tr>
    <tr>
      <td ng-bind="ddch.level3.encounterPower"></td>
    </tr>
    <tr>
      <td ng-bind="ddch.level7.encounterPower"></td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
  </table>
  
  <table>
    <tr>
      <th>
        Daily Powers
      </th>
    </tr>
    <tr>
      <td ng-bind="ddch.level1.dailyPower"></td>
    </tr>
    <tr>
      <td ng-bind="ddch.level5.dailyPower"></td>
    </tr>
    <tr>
      <td ng-bind="ddch.level9.dailyPower"></td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
  </table>
  
    <table>
    <tr>
      <th>
        Utility Powers
      </th>
    </tr>
    <tr>
      <td ng-bind="ddch.level2.utilityPower"></td>
    </tr>
    <tr>
      <td ng-bind="ddch.level6.utilityPower"></td>
    </tr>
    <tr>
      <td ng-bind="ddch.level10.utilityPower"></td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <input type="text">
      </td>
    </tr>
  </table>
</div>
