<link rel="stylesheet" href="styles/rituals.css">

<h3>Rituals</h3>
<div class="rituals">
	<table>
		<tr>
			<td><input type="text" class="under"></td>
		</tr>
		<tr>
			<td><input type="text" class="under"></td>
		</tr>
		<tr>
			<td><input type="text" class="under"></td>
		</tr>
		<tr>
			<td><input type="text" class="under"></td>
		</tr>
		<tr>
			<td><input type="text" class="under"></td>
		</tr>
		<tr>
			<td><input type="text" class="under"></td>
		</tr>
		<tr>
			<td><input type="text" class="under"></td>
		</tr>
		<tr>
			<td><input type="text" class="under"></td>
		</tr>
		<tr>
			<td><input type="text" class="under"></td>
		</tr>
		<tr>
			<td><input type="text" class="under"></td>
		</tr>
	</table>
</div>