<link rel="stylesheet" href="styles/skills.css">

<h3>Skills</h3>
<div class="skills">
    <table>
        <tr>
            <th>BONUS</th>
            <th>SKILL NAME</th>
            <th></th>
            <th>ABILMOD<br>+1/2LVL</th>
            <th>TRND<br>(+5)</th>
            <th>ARMOR<br>PENALTY</th>
            <th>MISC</th>
        </tr>
        <!--LISTING SKILLS IN CHARACTER SHEET ORDER, FILLING OUT ALL SPECIFICS ONE 
            AT A TIME-->
        <tr class="odd">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[0] + ddch.calculatedValues.skills.trainedBonuses[0] + ddch.calculatedValues.skills.armorPenalties[0] + ddch.calculatedValues.skills.miscBonuses[0]}}"></td>
            <td class="imp">Acrobatics</td>
            <td class="impA">DEX</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[0]}}"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.armorPenalties[0]}}"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.miscBonuses[0]}}"></td>
        </tr>
        <tr class="even">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[1] + ddch.calculatedValues.skills.trainedBonuses[1] + ddch.calculatedValues.skills.armorPenalties[1] + ddch.calculatedValues.skills.miscBonuses[1]}}"></td>
            <td class="imp">Arcana</td>
            <td class="impA">INT</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[1]}}"></td>
            <td><input type="text" class="boxedEndE" value="n/a"></td>
            <td><input type="text" class="boxedEndE" value="{{ddch.calculatedValues.skills.miscBonuses[1]}}"></td>
        </tr>
        <tr class="odd">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[2] + ddch.calculatedValues.skills.trainedBonuses[2] + ddch.calculatedValues.skills.armorPenalties[2] + ddch.calculatedValues.skills.miscBonuses[2]}}"></td>
            <td class="imp">Athletics</td>
            <td class="impA">STR</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[2]}}"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.armorPenalties[2]}}"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.miscBonuses[2]}}"></td>
        </tr>
        <tr class="even">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[3] + ddch.calculatedValues.skills.trainedBonuses[3] + ddch.calculatedValues.skills.armorPenalties[3] + ddch.calculatedValues.skills.miscBonuses[3]}}"></td>
            <td class="imp">Bluff</td>
            <td class="impA">CHA</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[3]}}"></td>
            <td><input type="text" class="boxedEndE" value="n/a"></td>
            <td><input type="text" class="boxedEndE" value="{{ddch.calculatedValues.skills.miscBonuses[3]}}"></td>
        </tr>
        <tr class="odd">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[4] + ddch.calculatedValues.skills.trainedBonuses[4] + ddch.calculatedValues.skills.armorPenalties[4] + ddch.calculatedValues.skills.miscBonuses[4]}}"></td>
            <td class="imp">Diplomacy</td>
            <td class="impA">CHA</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[4]}}"></td>
            <td><input type="text" class="boxedEndO" value="n/a"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.miscBonuses[4]}}"></td>
        </tr>
        <tr class="even">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[5] + ddch.calculatedValues.skills.trainedBonuses[5] + ddch.calculatedValues.skills.armorPenalties[5] + ddch.calculatedValues.skills.miscBonuses[5]}}"></td>
            <td class="imp">Dungeoneering</td>
            <td class="impA">WIS</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[5]}}"></td>
            <td><input type="text" class="boxedEndE" value="n/a"></td>
            <td><input type="text" class="boxedEndE" value="{{ddch.calculatedValues.skills.miscBonuses[5]}}"></td>
        </tr>
        <tr class="odd">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[6] + ddch.calculatedValues.skills.trainedBonuses[6] + ddch.calculatedValues.skills.armorPenalties[6] + ddch.calculatedValues.skills.miscBonuses[6]}}"></td>
            <td class="imp">Endurance</td>
            <td class="impA">CON</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[6]}}"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.armorPenalties[6]}}"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.miscBonuses[6]}}"></td>
        </tr>
        <tr class="even">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[7] + ddch.calculatedValues.skills.trainedBonuses[7] + ddch.calculatedValues.skills.armorPenalties[7] + ddch.calculatedValues.skills.miscBonuses[7]}}"></td>
            <td class="imp">Heal</td>
            <td class="impA">WIS</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[7]}}"></td>
            <td><input type="text" class="boxedEndE" value="n/a"></td>
            <td><input type="text" class="boxedEndE" value="{{ddch.calculatedValues.skills.miscBonuses[7]}}"></td>
        </tr>
        <tr class="odd">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[8] + ddch.calculatedValues.skills.trainedBonuses[8] + ddch.calculatedValues.skills.armorPenalties[8] + ddch.calculatedValues.skills.miscBonuses[8]}}"></td>
            <td class="imp">History</td>
            <td class="impA">INT</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[8]}}"></td>
            <td><input type="text" class="boxedEndO" value="n/a"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.miscBonuses[8]}}"></td>
        </tr>
        <tr class="even">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[9] + ddch.calculatedValues.skills.trainedBonuses[9] + ddch.calculatedValues.skills.armorPenalties[9] + ddch.calculatedValues.skills.miscBonuses[9]}}"></td>
            <td class="imp">Insight</td>
            <td class="impA">WIS</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[9]}}"></td>
            <td><input type="text" class="boxedEndE" value="n/a"></td>
            <td><input type="text" class="boxedEndE" value="{{ddch.calculatedValues.skills.miscBonuses[9]}}"></td>
        </tr>
        <tr class="odd">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[10] + ddch.calculatedValues.skills.trainedBonuses[10] + ddch.calculatedValues.skills.armorPenalties[10] + ddch.calculatedValues.skills.miscBonuses[10]}}"></td>
            <td class="imp">Intimidate</td>
            <td class="impA">CHA</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[10]}}"></td>
            <td><input type="text" class="boxedEndO" value="n/a"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.miscBonuses[10]}}"></td>
        </tr>
        <tr class="even">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[11] + ddch.calculatedValues.skills.trainedBonuses[11] + ddch.calculatedValues.skills.armorPenalties[11] + ddch.calculatedValues.skills.miscBonuses[11]}}"></td>
            <td class="imp">Nature</td>
            <td class="impA">WIS</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[11]}}"></td>
            <td><input type="text" class="boxedEndE" value="n/a"></td>
            <td><input type="text" class="boxedEndE" value="{{ddch.calculatedValues.skills.miscBonuses[11]}}"></td>
        </tr>
        <tr class="odd">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[12] + ddch.calculatedValues.skills.trainedBonuses[12] + ddch.calculatedValues.skills.armorPenalties[12] + ddch.calculatedValues.skills.miscBonuses[12]}}"></td>
            <td class="imp">Perception</td>
            <td class="impA">WIS</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[12]}}"></td>
            <td><input type="text" class="boxedEndO" value="n/a"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.miscBonuses[12]}}"></td>
        </tr>
        <tr class="even">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[13] + ddch.calculatedValues.skills.trainedBonuses[13] + ddch.calculatedValues.skills.armorPenalties[13] + ddch.calculatedValues.skills.miscBonuses[13]}}"></td>
            <td class="imp">Religion</td>
            <td class="impA">INT</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[13]}}"></td>
            <td><input type="text" class="boxedEndE" value="n/a"></td>
            <td><input type="text" class="boxedEndE" value="{{ddch.calculatedValues.skills.miscBonuses[13]}}"></td>
        </tr>
        <tr class="odd">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[14] + ddch.calculatedValues.skills.trainedBonuses[14] + ddch.calculatedValues.skills.armorPenalties[14] + ddch.calculatedValues.skills.miscBonuses[14]}}"></td>
            <td class="imp">Stealth</td>
            <td class="impA">DEX</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[14]}}"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.armorPenalties[14]}}"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.miscBonuses[14]}}"></td>
        </tr>
        <tr class="even">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[15] + ddch.calculatedValues.skills.trainedBonuses[15] + ddch.calculatedValues.skills.armorPenalties[15] + ddch.calculatedValues.skills.miscBonuses[15]}}"></td>
            <td class="imp">Streetwise</td>
            <td class="impA">CHA</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[15]}}"></td>
            <td><input type="text" class="boxedEndE" value="n/a"></td>
            <td><input type="text" class="boxedEndE" value="{{ddch.calculatedValues.skills.miscBonuses[15]}}"></td>
        </tr>
        <tr class="odd">
            <td><input type="text" class="boxedB" value="{{(ddch.halflevel + 10) + ddch.calculatedValues.skills.modifierBonuses[16] + ddch.calculatedValues.skills.trainedBonuses[16] + ddch.calculatedValues.skills.armorPenalties[16] + ddch.calculatedValues.skills.miscBonuses[16]}}"></td>
            <td class="imp">Thievery</td>
            <td class="impA">DEX</td>
            <td><input type="text" class="boxed" value="{{ddch.halflevel + 10}}"></td>
            <td><input type="text" class="boxed" value="{{ddch.calculatedValues.skills.trainedBonuses[16]}}"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.armorPenalties[16]}}"></td>
            <td><input type="text" class="boxedEndO" value="{{ddch.calculatedValues.skills.miscBonuses[16]}}"></td>
        </tr>
    </table>
</div>
