<link rel="stylesheet" href="styles/wealth.css">

<div class="wealth">
	<h3>Coins and Other Wealth</h3>
	<table>
		<tr>
			<td>
				<div class="normalMoney">
					<div class="currencyBit">	
						<label>GP: </label>
						<input type="text" class="inputClass" value="{{ddch.level0.wealth[0]}}">
					</div>
					<div class="currencyBit">
						<label>SP: </label>
						<input type="text" class="inputClass" value="{{ddch.level0.wealth[1]}}">
					</div>
					<div class="currencyBit">
						<label>CP: </label>
						<input type="text" class="inputClass" value="{{ddch.level0.wealth[2]}}">
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td><input type="text" class="bigBox"></td>
		</tr>
	</table>
</div>
