<link rel="stylesheet" href="styles/wealth.css">

<h3>Coins and Other Wealth</h3>
<div class="wealth">
    <div class="coin">
        <span>
            <span class="title">AD:</span>
            {{ddch.level0.wealth.ad}}
        </span>
        <span>
            <span class="title">PP:</span>
            {{ddch.level0.wealth.pp}}
        </span>
        <span>
            <span class="title">GP:</span>
            {{ddch.level0.wealth.gp}}
        </span>
        <span>
            <span class="title">SP:</span>
            {{ddch.level0.wealth.sp}}
        </span>
        <span>
            <span class="title">CP:</span>
            {{ddch.level0.wealth.cp}}
        </span>
    </div>
    <div class="bigBox">
    	<span class="title">Other:</span>
        <span ng-repeat="item in ddch.level0.wealth.other">
            {{item}}
            {{$last ? '': ','}}
        </span>
    </div>
</div>
