.healthAndSavingThrows table {
    font-family: arial, sans-serif;
    font-size: 10px;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    width: 80%;
}
.healthAndSavingThrows th {
    border: 1px solid black;
    background-color: black;
    color: white;
    text-align: center;
    padding:2px;
}

.healthAndSavingThrows td {
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
}

.healthAndSavingThrows input, textarea {
  text-align: center;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
}