/* Powers Styles */
.powers table {
    font-family: arial, sans-serif;
    font-size: 10px;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    width: 90%;
}

.powers th {
    padding-left: 5px;
}

.powers tr {
    border: 1px solid black;
}

.powers td {
    text-align: left;
    font-size: 14px;
    height: 18px;
    padding: 5px;
}