/* Index Styles */
.underlined {
	text-decoration: underline;
}

h3 {
	width: 90%;
	text-align: center;
	background-color: #2d2d2d;
	color: white;
}

.heading {
	font-family: "Berkshire Swash";
	text-align: center;
	font-size: 50px;
	padding-bottom: 30px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  	display: none !important;
}