.wealth .coin .title {
    font-weight: bold;
    margin-left: 2px;

}

.wealth .bigBox .title {
    font-weight: bold;
}

.wealth {
	border:solid black 1px;
	width: 90%;
}

.wealth .coin span + span {
    padding: 18px;
}

.wealth .coin {
    border-right: solid gray 1px;
    display: inline-block;
    width: 25%;
    height: 100%;
}

.wealth .bigBox {
	border: none;
	width: 60%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}